{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">

<body>
    <h1>Login with OTP</h1>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="number">Mobile Number:</label>
        <input type="text" id="number" name="number" required>
        <br>
        <br/>
        <input type="submit" value="Send OTP">
    </form>
</body>

{% endblock %}